.Login{
    display:flex;
    flex-direction: column;
    background-color: rgba(54, 207, 247, 0.4);
    width: 50%;
    height: 326px;
    margin-top: 238px;
    margin-left: 353px;
}
.email{
    display: flex;
}
.password{
    display: flex;
}
.mailadress{
    color: rgba(0, 0, 255, 0.5);;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 59px;
    margin-top: 9px;
}
.confirmpsd{
    color: rgba(0, 0, 255, 0.5);;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 79px;
    margin-top: -4px; 
}
.inputpssd{
    width: 259px;
    height: 26px;
    border: 3px solid  rgba(0, 0, 255, 0.5);
    margin-left: 2px;
    margin-top: -8px;
}
.inputmail{
    width: 259px;
    height: 26px;
    border: 3px solid  rgba(0, 0, 255, 0.5);
    margin-left: 1px;
    margin-top: 8px;  
}
.pageLOGIN{
    color: rgba(0, 0, 255, 0.5);;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    margin-top: 25px;
}
.connecter{
    width: 100px;
    height: 60px;
    border: 2px  solid blue;
    border-radius: 20px;
    margin-top: 9px;
    margin-left:316px;
    background-color: rgba(0, 0, 255, 0.5); 
    color: white;
}