@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");

.navbar {
  background-color: transparent;
  z-index: 1;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
}
.fixed-top {
  position: fixed !important;
}

.navbar a {
  color: white !important;
  font-weight: bold;
}
.top-nav-collapse {
  background-color: rgba(27, 178, 216, 0.95);
  color: white;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1bb2d8f2;
  }
}

.navbar-brand {
  font-family: "Dancing Script", cursive !important;
  font-size: 40px !important;
}

.back-up {
  background-color: #9e9e9e;
  height: 94px;
}
.bande-haut {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
#search {
  display: flex;
  justify-content: flex-start;
  width: 500px;
  padding-left: 45px;
}

.search {
  display: flex;
  width: 250px;
  position: relative;
  padding: 1px;
  border-bottom: 1px solid white;
}
.svg-inline--fa.fa-w-16 {
  width: 1.5em !important;
}

*:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  border: none;
  width: 30px;
  height: 20px;
  color: white;
  background: transparent;
  padding: 0px 5px;
}
.search_input {
  border: none;
  width: 100%;
  font-family: "Gloria Hallelujah", cursive, serif;
  font-size: 13px;
  padding-left: 35px;
  background: transparent;
  color: white;
}

::placeholder {
  color: grey;
}

.menu-utilitaires {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 280px;
}
.log-button {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 12px;
  border-radius: 6px;
  background: white;
  width: 120px;
  color: rgba(0, 146, 181, 0.95);
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.5s !important;
  transition-timing-function: ease-in-out !important;
}
.sign-button {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 12px;
  border-radius: 6px;
  background: transparent;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: transform 1s !important;
  transition-timing-function: ease-in-out !important;
}
*:focus {
  outline: none !important;
}

ul,
li {
  list-style: none;
}

.menu {
  text-transform: uppercase;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 12px;
  transition: transform 1s !important;
  transition-timing-function: ease-in-out !important;
}

.menu:hover {
  transform: scale(1.2) !important;
  color: rgba(111, 195, 216, 0.95) !important;
}

.log-button:hover {
  transform: scale(1.1) !important;
}

.sign-button:hover {
  transform: scale(1.1) !important;
  background: white;
  color: rgba(0, 146, 181, 0.95);
}

.mr-auto,
.mx-auto {
  margin-right: 5px !important;
  align-items: space-around !important;
}
