.troc-button-negociate {
  margin-bottom: 5px;
  align-self: center;
}
.negociate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 1px solid rgb(64, 193, 233);
  border-radius: 10px;
  color: white;
  font-family: "Gloria Hallelujah", cursive, serif;
  background: rgb(64, 193, 233);
}
.negociate-button {
  width: 250px;
}

.negociate-btn:hover {
  color: rgb(19, 35, 78);
  cursor: pointer;
}

.blue-color {
  background: #ebbf6e;
  border: 1px solid #ebbf6e;
  width: 100px;
}
.red-color {
  background: rgb(218, 57, 57);
  border: 1px solid rgb(218, 57, 57);
  width: 100px;
}
.negociate-icon {
  width: 20%;
  margin-right: 15px;
}
.modal-header {
  font-family: "Gloria Hallelujah", cursive, serif;
  color: rgb(64, 193, 233);
  font-weight: bold;
}
