@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption");

.navbar {
  background-color: transparent;
  z-index: 1;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
}
.fixed-top {
  position: fixed !important;
}

.navbar a {
  color: white !important;
  font-weight: bold;
}
.top-nav-collapse {
  background-color: rgba(0, 146, 181, 0.95);
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(0, 146, 181, 0.95);
  }
}

.navbar-brand {
  font-family: "Dancing Script", cursive !important;
  font-size: 40px !important;
}

.menu {
  text-transform: uppercase;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 15px;
}
